{% extends "base.html" %}
{% block title %}{{job_title}}{% endblock %}
{% block content %}
<p>{{job_text}}</p>
  <h3>Sign up now</h3>
  <p>Fill in the form below to request for the job!:</p>
  <div class= "col-sm-5">
    <form role="form" action="" method="post" class="registration-form">
      {% csrf_token %}
      <div class="row form-inline">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Jane Doe">
        </div>
        <div class="form-group">
          <label for="inputGrade">Grade</label>
          <select class="form-control" id="inputGrade">
            {% for i in n %}
            <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row form-inline">
        <div class="form-group">
          <label for="form-email">Email</label>
          <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="inputEmail">
        </div>
      </div>
      <div class="row form-group">
        <label for="inputDetail">Why do you want this job?</label>
          <textarea name="inputDetail" placeholder="About yourself..."
            class="form-about-yourself form-control" id="inputDetail"></textarea>
      </div>
      <button type="submit" class="btn" >Sign me up!</button>
    </form>
  </div>
{% endblock %}
