{% extends "base.html" %}
{% block title %}{{job.job_title}}{% endblock %}
{% block content %}
<p>{{job.job_text}}</p>
  <h3>Sign up now</h3>
  <p>Fill in the form below to request for the job!:</p>
  <form role="form" action="" method="post" class="registration-form">
    {% csrf_token %}
    <div class="form-group">
      <label class="sr-only" for="form-name">First name</label>
      <input type="text" name="form-name" placeholder="Name..." class="form-name form-control" id="form-name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="form-last-name">Grade</label>
      <input type="num" name="form-grade" placeholder="Grade..." class="form-grade form-control" id="form-grade">
    </div>
    <div class="form-group">
      <label class="sr-only" for="form-email">Email</label>
      <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="form-about-yourself">About yourself</label>
        <textarea name="form-about-yourself" placeholder="About yourself..."
          class="form-about-yourself form-control" id="form-about-yourself"></textarea>
    </div>
    <button type="submit" class="btn" href="{% url 'mande:results' job.job_id %}">Sign me up!</button>
  </form>

{% endblock %}
