{% extends "base.html" %}
{% block content %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Create an</span> Account
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Jobs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Service Hour Portal</h1>
                        <p class="intro-text">A free, responsive, service hour trackers<br>Created by someone.</p>
                        <a href="#jobs" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="jobs" class="text-center">
      <br><br><br><br>
      <h1>Availible Jobs</h1>
      <div class="container">
        {% if latest_job_list %}

            {% for job in latest_job_list %}
             <div class="col-lg-4 col-sm-6 text-center">
                <div class="hovereffect">
                   <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                   <div class="overlay">
                      <h2>{{job.job_title}}</h2>
                      <a class="info" href="{% url 'mande:detail' job.job_id %}">Sign Up</a>
                   </div>
                </div>
                <h3>{{job.job_title}}
               </h3>
               <p>{{job.job_text}}</p>
             </div>
             {% endfor %}

       {% else %}
       <p>No jobs are available.</p>
       {% endif %}
      </div>
    </section>


    <!-- jQuery -->
    <script src="/static/home/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/home/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/home/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/home/js/grayscale.js"></script>

</body>

{% endblock %}
