{% extends "base.html" %}
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'mande:register' %}">
                <i class="fa fa-play-circle"></i>  <span class="light">Create an</span> Account
            </a>
        </div>
    </div>
</nav>
    <div class="intro-body">
        <div class="container">
            <h1>Create an account</h1>
             <form action="" method="post">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <input type="submit" value="Create the account">
             </form>
        </div>
    </div>
{% endblock %}
